/* GLOBAL STYLES */

h1 {
  font-size: 36px;
  margin: 0 0 16px 0;
  text-align: left;
}

h2 {
  font-size: 24px;
  margin: 0 0 16px 0;
  text-align: left;
}

p {
  font-size: 16px;
  color: #555;
}

.bold {
  font-weight: bold;
}

button {
  padding: 8px 16px;
  color: #FFF;
  font-weight: bold;
  background-color: #000;
  border-radius: 4px;
  border: 1px solid black;
  display: inline-block;
  text-decoration: none;
}

button:hover {
  background-color: #444;
  cursor: pointer;
}

button.outline {
  padding: 8px 16px;
  color: #777;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

button.outline:hover {
  border: 1px solid #555;
  color: #000;
  cursor: pointer;
}

button.alert {
  padding: 8px 16px;
  color: lightcoral;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid lightcoral;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

button.alert:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}