.topbar {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.navbarBrand {
  padding: 0 8px;
  font-size: 0.75rem;
}

.navbarBrand a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  
  .navbarBrand {
    padding: 0 24px;
    font-size: 1.5rem;
  }
}