.loginBg {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}

.loginBox {
  padding: 24px;
  border: 1px solid #000;
  border-radius: 10px;
}

.formGroup {
  margin-bottom: 1rem;
}

.formControl {
  display: block;
  padding: .375rem .75rem;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 10px;
}

.formError {
  text-align: left;
  color: #f00;
  margin: 8px 8px;
}

.loginButton {
  border: none;
  padding: 8px 24px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  float: right;
  cursor: pointer;
}