.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  border-top: 1px solid #ddd;
}

.navbarLink {
  width: 100%;
  padding: 0.5rem 0;
  color: #000;
  text-decoration: none;
  opacity: 0.75;
  font-size: 0.65rem;
  display: grid;
  justify-items: center;
  gap: 8px;

  font-weight: 400;
  border: none;
  border-radius: 0;
  background: none;
}

.navbarLink:hover {
  opacity: 1;
  text-decoration: none;
  background: none;
}

.navbarLinkActive {
  border-top: 3px solid #000;
  background-color: #f5f5f5;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 100%;
    grid-template: auto auto auto auto auto 1fr auto / auto;
    border: none;
    border-right: 1px solid #ddd;
  }

  .navbarLink {
    padding: 0.5rem;
  }

  .navbarLink:last-child {
    grid-row: 7 / 8;
  }

  .navbarLinkActive {
    border: none;
    border-right: 3px solid #000;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    width: 240px;
  }

  .navbarLink {
    font-size: 1.25rem;
    padding: 14px 24px;
    grid-template-columns: auto 1fr;
    justify-items: left;
    align-items: center;
    gap: 16px;
  }
}
